# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Data Science / Machine Learning
*.ckpt
.lr_find_*.ckpt
mlruns/
data/raw/
data/processed/
data/versioned/

# Tests
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.sweed
.pytest_cache/

# Logs
*.log

# Editor / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# User Excluded
powerbi/PowerBI_Setup_Guide.md
test.py
test2.py
test3.py
test_sim.py
